/* General Styles */
.autoplay-video {
  width: 100%;
}
body {
  overflow-x: hidden;
}

/* Disable Scroll */
.no-scroll {
  overflow: hidden;
}

/* Lenis Smooth Scrolling */
html.lenis {
  height: auto;
}
.lenis.lenis-smooth {
  scroll-behavior: auto;
}
.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}
.lenis.lenis-stopped {
  overflow: hidden;
}

/* Custom Scrollbar Styling */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #15171a;
}
::-webkit-scrollbar-thumb {
  background: #6f7174;
  border-radius: 100px;
  border-color: red;
  border: 0 5px 0 0;
}
::-webkit-scrollbar-thumb:hover {
  background: #bfff4f;
}

/* Text Splitting - Prevent Flash of Unstyled Content */
/* Main Text Styles */
[text-split],
.p-leading[text-split],
.p-body[text-split],
.p-body[text-split2],
.h2[text-split],
.h5[text-split],
.h6[text-split],
.h6[letters-fade-in],
.projects__tab-link.stagger-horizontal,
.projects__col-item.grid-item,
.journal__tab-link.stagger-horizontal,
.journals__col-item.stagger-vertical {
  opacity: 0;
}
html.w-editor [text-split],
html.w-editor [text-split2],
html.w-editor [text-split3],
html.w-editor .p-body[text-split2],
html.w-editor .projects__tab-link,
html.w-editor .projects__col-item,
html.w-editor .journal__tab-link,
html.w-editor .journals__col-item,
html.w-editor .industries__item {
  opacity: 1;
}

/* Word Styling for Animation */
.word {
  overflow: hidden;
  padding-bottom: 0.1em;
  margin-bottom: -0.2em;
  transform-origin: bottom;
}

/* Text Selection Styling */
::selection {
  background: #000000;
  color: #ffffff;
  text-shadow: none;
}

/* Header Image and Navbar Customization */
.header-img {
  opacity: 0;
}
.body-white .section__navbar:hover + .global .cursor-line-two {
  background: #ffffff !important;
}

/*.Accordion styling */
.accordion-item {
  border-bottom: 1px solid #2f3337;
}
.accordion-item:last-child {
  border-bottom: none;
}
.accordion-content {
  overflow: hidden;
}
